
.tilt {

  /*Flex*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /*Card Size*/
  width: 230px;
  height: 270px;

  /*Tilt Animation Settings*/
  perspective: 1000px;
  transform-style: preserve-3d;

  /*Scale Transition but scale isn't work*/
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  /* Card Utils */
box-shadow: 0px 8px 35px 0px rgba(33, 30, 53, 0.25);
background: radial-gradient(circle at 100% 100%, #151030 0, #151030 17px, transparent 17px) 0% 0%/20px 20px no-repeat,
            radial-gradient(circle at 0 100%, #151030 0, #151030 17px, transparent 17px) 100% 0%/20px 20px no-repeat,
            radial-gradient(circle at 100% 0, #151030 0, #151030 17px, transparent 17px) 0% 100%/20px 20px no-repeat,
            radial-gradient(circle at 0 0, #151030 0, #151030 17px, transparent 17px) 100% 100%/20px 20px no-repeat,
            linear-gradient(#151030, #151030) 50% 50%/calc(100% - 6px) calc(100% - 40px) no-repeat,
            linear-gradient(#151030, #151030) 50% 50%/calc(100% - 40px) calc(100% - 6px) no-repeat,
            linear-gradient(0deg, #8961f6 0%, #2980b9 100%);
border-radius: 20px;
padding: 3px; /*For border px*/

}

.image, .title {
  transform-style: preserve-3d;
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  user-select: none;
}

.title{
  color: white;
  font-size: 24px;
  text-align: center;
}




